@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme static {
    --color-white-primary: #FAFAFA;
    --color-gray-100: #E3E3E3;
    --color-gray-300: #CCCCCC; 
    --color-gray-500: #626466;

    --color-black-100: #1F1F1F;
    
    --color-orange-accent-100: #FFC029;
    --color-orange-accent-300: #FD9F24;
    --color-orange-accent-500: #FB7C1F;

    --color-yellow-accent: #FFD856;
    --color-border: #D7D7D7;

    

    --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
    --backgroundImage: url('/assets/img/hero/bg.png');
    --boxShadow: 0px 4px 54px 10px rgb(18, 19, 21, 0.05);
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: rgba(0, 0, 0, 0.5);
  }

  body {
    color: var(--color-white-primary);
     font-family: var(--font-work-sans); 
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-white-primary);
     font-family: var(--font-work-sans); 
  }
}

@layer utilities {
  .bg-hero {
    background-image: var(--backgroundImage);
  }
  .shadow-custom {
    box-shadow: var(--boxShadow);
  }
  .h1 {
    @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
  }

  .h2 {
    @apply text-[36px] leading-[1.3] xl:text-[46px] xl:leading-[56px] capitalize font-bold;
  }

  .h3 {
    @apply text-3xl font-bold; 
  }

  .h4 {
    @apply text-2xl font-semibold;
  }
}

